* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  background-color: #ffffde;
  font-weight: 400;
}

.app {
  display: flex;
}

.logo {
  margin-bottom: 50px;
  width: 120px;
}

.panel {
  background: #bbf3bb;
  min-height: 100vh;
  padding: 30px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu__item {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.menu__item img {
  width: 100%;
}

.menu__item:hover {
  background: #49ef8d;
}

.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item_active {
  background: #06ad51;
}

.menu__item_active img {
  filter: brightness(0) invert(1);
}

.menu__add {
  background: none;
  border: 1px solid #06ad51;
  border-radius: 14px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.menu__add:hover {
  background-color: #06ad51;
}

.menu__add img {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.menu__add:hover img {
  filter: brightness(0) invert(1);
}

.content {
  min-width: 900px;
  padding: 45px 45px 0;
  position: relative;
}

.button {
  width: 60px;
  height: 40px;
  background: #bbf3bb;
  border-radius: 9px;
  border: none;
  font-size: 13px;
  line-height: 14px;
  color: #5051f9;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__title {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  color: #06ad51;
}

.header__delete-habbit-btn {
  background: #bbf3bb url(../images/delete-habbit.svg) no-repeat center / 25px;
  margin-right: auto;
}

.header__delete-habbit-btn:hover {
  background: #f5e6d3 url(../images/delete-habbit.svg) no-repeat center / 25px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}

.progress__name {
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}

.progress__percent {
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}

.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}

.progress__cover-bar {
  position: absolute;
  transition: all 0.5s;
  height: 5px;
  border-radius: 4px;
  background: #06ad51;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

main {
  margin: 30px 0 40px;
}

.content_null {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f3f6fd;
  z-index: 5;
}

.day {
  background: #ffffff;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}

.day__next {
  border: 1px solid #bbf3bb;
}

.day__index {
  background: #bbf3bb;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 40px;
  min-width: 150px;
}

.day__content {
  display: flex;
  flex-grow: 1;
}

.day__delete-btn {
  color: red;
  background: #bbf3bb url(../images/delete-day.svg) no-repeat center / 25px;
}

.day__delete-btn:hover {
  background: #f5e6d3 url(../images/delete-day.svg) no-repeat center / 25px;
}

.day__popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  background: #f7b6b6;
  border-radius: 12px;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.day__popup_visible {
  visibility: visible;
  opacity: 1;
}

.day__popup-btn {
  padding: 7px 10px;
  color: #232360;
  width: fit-content;
}

.day__popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: monospace;
  font-size: 20px;
  line-height: 1;
  padding: 5px 10px;
  border: none;
  background: transparent;
}

.day__comment {
  height: 42px;
  flex-grow: 1;
  display: flex;
  gap: 15px;
  padding: 0px 10px 0 25px;
  font-size: 16px;
  line-height: 18px;
}

.day__comment-text {
  flex-grow: 1;
}

.day__comment_null {
  color: #06ad51;
}

.day__comment-delete {
  margin-right: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  color: orangered;
  background: #bbf3bb url(../images/delete-comment.svg) no-repeat center / 20px;
}

.day__comment-delete:hover {
  background: #f5e6d3 url(../images/delete-comment.svg) no-repeat center / 20px;
}

.day__add {
  background: #bbf3bb url(../images/add.svg) no-repeat center;
}

.day__add:hover {
  background: #f5e6d3 url(../images/add.svg) no-repeat center;
}

.day__edit {
  background: #bbf3bb url(../images/edit-comment.svg) no-repeat center / 18px;
}

.day__edit:hover {
  background: #f5e6d3 url(../images/edit-comment.svg) no-repeat center / 18px;
}

input {
  background: #ffffff;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.day input::placeholder {
  color: #04db65;
}

.day__next input::placeholder {
  color: #04db65;
}

input.error {
  border: 1px solid red;
}

.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 10px 0 25px;
  position: relative;
}

.habbit__skip-comment {
  width: 95px;
  flex-grow: 0;
  color: #06ad51;
}

.habbit__done-btn {
  background: #bbf3bb url(../images/checkmark.svg) no-repeat center / 24px;
}

.habbit__done-btn:hover {
  background: #f5e6d3 url(../images/checkmark.svg) no-repeat center / 24px;
}

.input_icon {
  padding-left: 45px;
}

.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.cover_hidden {
  display: none;
}

.popup {
  background: #ffffff;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__icon img {
  width: 100%;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.popup__title {
  font-family: 'Krona One', sans-serif;
  color: #06ad51;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.popup__btn {
  width: fit-content;
  background-color: #06ad51;
  color: #fff;
  padding: 10px 20px;
}

.icon-label {
  font-size: 14px;
  line-height: 16px;
  color: #768396;
  margin-bottom: 10px;
}

.icon-select {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.icon {
  border: 1px solid #06ad51;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.icon_active {
  background: #06ad51;
}

.icon:hover {
  background: #04db65;
}

.icon:hover img {
  filter: brightness(0) invert(1);
}

.icon_active img {
  filter: brightness(0) invert(1);
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.popup__form input {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
